body {
  background: #f9fafc;
  width: 100%;
}

nav {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h5 {
  margin: 8px;
  display: inline-block;
  float: left;
  font-size: 18px;
}

h2 {
  font-size: 30px;
}

ul {
  float: right;
  margin: 0;
}

li {
  display: inline-block;
  margin-top: 8px;
}

.nav-item {
  text-decoration: none;
  color: #86868a;
  margin-left: 20px;
}

.button {
  background: #000;
  padding: 10px 15px;
  border-radius: 100px;
  margin-left: 7px;
  color: #fff;
  text-decoration: none;
}

.button-text {
  color: #fff;
}

section {
  width: 80%;
  margin: 15% auto;
  /* overflow: hidden; */
}

div {
  width: 45%;
  margin: 8px;
}

.column-1 {
  float: left;
  margin-left: 14.8px;
}

.column-2 {
  float: right;
  position: relative;
}

p {
  border-left: 3px solid #86868a;
  padding-left: 15px;
  color: #86868a;
}

.circle-1 {
  width: 250px;
  height: 250px;
  background: rgba(247, 136, 167, 0.6);
  border-radius: 500px;
  position: absolute;
  top: 0;
  left: 140px;
}

.circle-2 {
  width: 150px;
  height: 150px;
  background: rgba(207, 130, 213, 0.6);
  border-radius: 100px;
  position: absolute;
  top: 30px;
  left: 323px;
}

.circle-3 {
  width: 200px;
  height: 200px;
  background: rgba(247, 193, 162, 0.7);
  border-radius: 100px;
  position: absolute;
  top: 140px;
  left: 285px;
}

.scroll {
  clear: both;
  display: inline-block;
  margin-left: 45%;
}
